*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: our fonts;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

html{
    width: 100%;
}

body{
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: aquamarine;
}

.center{
    margin-left: calc(100% - 1300px);
    padding-right: calc(100% - 1300px);
}

.main-header{
    display: flex;
}

.main-header .main-header__logo, .main-header__title, .main-header__menu{
    margin: 15px 20px;
}

.main-header .main-header__logo .logo{
    width: 40px;
    height: 40px;


}
.main-header .main-header__title .main-title{
    font-family: our fonts;
    font-size: 18px;
    line-height: 18px;

}

.main-header .main-header__menu{
    display: flex;

}

.header-menu {
    display: flex;
    list-style-type: none;
}

.header-menu li{
    padding: 0 54px;
}

.footer{
    display: flex;
}

.footer__info{
    margin: 15px 20px;
}

.footer-text{
    display: flex;
    list-style-type: none;
}

.footer-up-link{
    display: flex;
    list-style-type: none;
    margin: 15px 20px 20px 170px;
}